@font-face {
  font-family: "Cafe24Ssurround";
  src: url("./font/Cafe24Ssurround-v2.0.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid red;
} */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.phoneBookTitle {
  text-align: center;
  font-size: 50px;
  font-family: "Cafe24Ssurround";
}

.formSet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formName {
  font-size: 20px;
  font-family: "Cafe24Ssurround";
}

.formContact {
  font-size: 20px;
  font-family: "Cafe24Ssurround";
}
.submitButton {
  font-size: 20px;
  font-family: "Cafe24Ssurround";
}

.searchBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactListSet {
  font-size: 20px;
  font-family: "Cafe24Ssurround";
}

.contactList {
  display: flex;
  flex-direction: column;
}

.container {
}

.mainScreen {
  background-color: rgb(122, 208, 122);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 80vw;
  height: 90vh;
}
